In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_parquet('/home/awardana/.cache/kagglehub/datasets/dhoogla/nfcsecicids2018v2/versions/2/NF-CSE-CIC-IDS2018-V2.parquet', engine='pyarrow')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17129715 entries, 0 to 17129714
Data columns (total 43 columns):
 #   Column                       Dtype
---  ------                       -----
 0   L4_SRC_PORT                  int32
 1   L4_DST_PORT                  int32
 2   PROTOCOL                     int8
 3   L7_PROTO                     float32
 4   IN_BYTES                     int32
 5   IN_PKTS                      int32
 6   OUT_BYTES                    int32
 7   OUT_PKTS                     int32
 8   TCP_FLAGS                    int16
 9   CLIENT_TCP_FLAGS             int16
 10  SERVER_TCP_FLAGS             int16
 11  FLOW_DURATION_MILLISECONDS   int32
 12  DURATION_IN                  int32
 13  DURATION_OUT                 int32
 14  MIN_TTL                      int16
 15  MAX_TTL                      int16
 16  LONGEST_FLOW_PKT             int32
 17  SHORTEST_FLOW_PKT            int16
 18  MIN_IP_PKT_LEN               int16
 19  MAX_IP_PKT_LEN               int32
 20  SRC_TO_DST_SECOND_BYTES      float64
 21  DST_TO_SRC_SECOND_BYTES      float64
 22  RETRANSMITTED_IN_BYTES       int32
 23  RETRANSMITTED_IN_PKTS        int16
 24  RETRANSMITTED_OUT_BYTES      int32
 25  RETRANSMITTED_OUT_PKTS       int16
 26  SRC_TO_DST_AVG_THROUGHPUT    int64
 27  DST_TO_SRC_AVG_THROUGHPUT    int64
 28  NUM_PKTS_UP_TO_128_BYTES     int32
 29  NUM_PKTS_128_TO_256_BYTES    int16
 30  NUM_PKTS_256_TO_512_BYTES    int16
 31  NUM_PKTS_512_TO_1024_BYTES   int16
 32  NUM_PKTS_1024_TO_1514_BYTES  int32
 33  TCP_WIN_MAX_IN               int32
 34  TCP_WIN_MAX_OUT              int32
 35  ICMP_TYPE                    int32
 36  ICMP_IPV4_TYPE               int16
 37  DNS_QUERY_ID                 int32
 38  DNS_QUERY_TYPE               int16
 39  DNS_TTL_ANSWER               int32
 40  FTP_COMMAND_RET_CODE         int8
 41  Label                        int8
 42  Attack                       object
dtypes: float32(1), float64(2), int16(14), int32(20), int64(2), int8(3), object(1)
memory usage: 2.5+ GB

In [3]:
df['Label'].value_counts()

Label
0    15101685
1     2028030
Name: count, dtype: int64

In [4]:
df = df.drop(df.columns[[0, 1, 42]], axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17129715 entries, 0 to 17129714
Data columns (total 40 columns):
 #   Column                       Dtype
---  ------                       -----
 0   PROTOCOL                     int8
 1   L7_PROTO                     float32
 2   IN_BYTES                     int32
 3   IN_PKTS                      int32
 4   OUT_BYTES                    int32
 5   OUT_PKTS                     int32
 6   TCP_FLAGS                    int16
 7   CLIENT_TCP_FLAGS             int16
 8   SERVER_TCP_FLAGS             int16
 9   FLOW_DURATION_MILLISECONDS   int32
 10  DURATION_IN                  int32
 11  DURATION_OUT                 int32
 12  MIN_TTL                      int16
 13  MAX_TTL                      int16
 14  LONGEST_FLOW_PKT             int32
 15  SHORTEST_FLOW_PKT            int16
 16  MIN_IP_PKT_LEN               int16
 17  MAX_IP_PKT_LEN               int32
 18  SRC_TO_DST_SECOND_BYTES      float64
 19  DST_TO_SRC_SECOND_BYTES      float64
 20  RETRANSMITTED_IN_BYTES       int32
 21  RETRANSMITTED_IN_PKTS        int16
 22  RETRANSMITTED_OUT_BYTES      int32
 23  RETRANSMITTED_OUT_PKTS       int16
 24  SRC_TO_DST_AVG_THROUGHPUT    int64
 25  DST_TO_SRC_AVG_THROUGHPUT    int64
 26  NUM_PKTS_UP_TO_128_BYTES     int32
 27  NUM_PKTS_128_TO_256_BYTES    int16
 28  NUM_PKTS_256_TO_512_BYTES    int16
 29  NUM_PKTS_512_TO_1024_BYTES   int16
 30  NUM_PKTS_1024_TO_1514_BYTES  int32
 31  TCP_WIN_MAX_IN               int32
 32  TCP_WIN_MAX_OUT              int32
 33  ICMP_TYPE                    int32
 34  ICMP_IPV4_TYPE               int16
 35  DNS_QUERY_ID                 int32
 36  DNS_QUERY_TYPE               int16
 37  DNS_TTL_ANSWER               int32
 38  FTP_COMMAND_RET_CODE         int8
 39  Label                        int8
dtypes: float32(1), float64(2), int16(14), int32(18), int64(2), int8(3)
memory usage: 2.2 GB

In [5]:
df['Label'].value_counts()

Label
0    15101685
1     2028030
Name: count, dtype: int64

In [6]:
train, test = train_test_split(df, test_size=0.3, random_state=100)

In [7]:
train['Label'].value_counts()

Label
0    10570954
1     1419846
Name: count, dtype: int64

In [8]:
test['Label'].value_counts()

Label
0    4530731
1     608184
Name: count, dtype: int64

In [9]:
train, sample = train_test_split(train, test_size=0.1, random_state=100)

In [10]:
train['Label'].value_counts()

Label
0    9513872
1    1277848
Name: count, dtype: int64

In [11]:
sample['Label'].value_counts()

Label
0    1057082
1     141998
Name: count, dtype: int64

In [12]:
train.to_parquet(f"./NF-CSE-CIC-IDS2018-V2_train.parquet")

In [13]:
sample.to_parquet(f"./NF-CSE-CIC-IDS2018-V2_sample.parquet")

In [14]:
test, valid = train_test_split(test, test_size=0.1, random_state=100)

In [15]:
test['Label'].value_counts()

Label
0    4077413
1     547610
Name: count, dtype: int64

In [16]:
valid['Label'].value_counts()

Label
0    453318
1     60574
Name: count, dtype: int64

In [17]:
test.to_parquet(f"./NF-CSE-CIC-IDS2018-V2_test.parquet")

In [18]:
valid.to_parquet(f"./NF-CSE-CIC-IDS2018-V2_valid.parquet")